:root {
  --album-div-width: 25vw;
  --album-div-height: 35vw;
  --album-div-max-width: 87vw;

  --album-image-width: calc(var(--album-div-width) * 0.95);
  --album-image-margin: calc((var(--album-div-width) - var(--album-image-width))/2);
}

@keyframes anim-album-div {
  from { width: var(--album-div-width); }
  to { width: var(--album-div-max-width);}
}

.main-body {
  background-color: black;
  overflow-x: hidden;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 2.5vw;
  max-height: 90px;
  
}

.title {
  text-align: center;
  color: rgb(180, 55, 189);
  text-shadow: 0vw 0vw .3vw rgb(180, 55, 189);
  margin-bottom: 5vw;
  margin-top: 5vw;
}

.beatles-songs-div {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beatles-album-container {
  width: 25vw;
  height: 35vw;
  max-width: inherit;
  max-height: inherit;
  margin-left: 0vw;
  margin-right: 3vw;
  border-radius: inherit;
  /* box-shadow: 0vw 0vw 1vw red; */
  display: block;
  position: absolute;
  backdrop-filter: blur(0px);
}

.beatles-album-container > .album-image {
  width: 94%;
  margin: 3%;
  border-radius: 2vw;
  object-fit: contain;
  z-index: 1;
}

.beatles-album-container > .album-title {
  text-align: center;
  color: rgba(230, 230, 230);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 1;
  text-shadow: 0vw 0vw 1vw rgb(0, 0, 0);
}

.beatles-album-div {
  background-color: transparent; 
  width: var(--album-div-width); 
  height: var(--album-div-height); 
  display: flex; 
  justify-content: left;
  position: relative;  
  margin: 3vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  border-radius: 2vw;
  max-width: 400px;
  max-height: 560px;
  cursor: pointer;
}

.beatles-album-div-blurred-bg {
  /* object-fit: none;  */
  width: inherit; 
  height: inherit; 
  border-radius: inherit;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: inherit;
  max-height: inherit;
}

@keyframes blur-bg{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.beatles-background-image-blur{
  filter: blur(40px);
  height: 200%;
  width: 200%;
  animation: blur-bg 40s linear;
  animation-iteration-count: infinite;
}

@media screen and (min-width: 1600px) {
  h2{
    font-size: 35px;
  }
}